CREATE TABLE ${tbName}
(
#foreach(${paramNameItem} in ${paramNameList})
    #set($index=$!{velocityCount} - 1) ${paramNameItem} ${paramTypeList.get($index)}#if(${paramNameList.size()} != $velocityCount),
#end
#end
);