CREATE TABLE ${tbName}(
#foreach(${parameter} in ${parameters})
    #if(${parameter.field}==${primaryKey})`${parameter.field}` ${parameter.datatype} NOT NULL AUTO_INCREMENT#else`${parameter.field}` ${parameter.datatype} #if(${parameter.defaultValue}) DEFAULT ${parameter.defaultValue}#end#end
#if(${parameter.comment}) comment '${parameter.comment}'#end#if(${parameter.unique}) UNIQUE#end#if(${parameters.size()} != $velocityCount),
#end
#end
#if(${primaryKey}), PRIMARY KEY(`${primaryKey}`)#end
);