INSERT INTO ${tbName}
(#foreach(${Item} in ${paramNameList})${Item}#if(${velocityCount} != ${paramNameList.size()}),#end#end)
values
(#foreach(${Item} in ${paramNameList})${Item}#if(${velocityCount} != ${paramNameList.size()}),#end#end)